*.pyc
*.c
*.cpython*
*.pth.tar
*.log
*.coverage

*.tar
*.csv
Treino_ResNet50_multi
matrizes
predicts
runs

build/
/dist/
densetorch/version.py

/*.egg-info
__pycache__

sandbox/
logs/

*.png
*.jpg

.eggs/
olddocs/
